{% extends 'base.html.twig' %}

{% block title %}Edit product{% endblock %}

{% block body %}
<div>
    <div class="border max-w-lg mx-auto mt-20 flex flex-col">
        {% if product and app.user %}
        <div class="flex justify-center">
            Edit product
        </div>
        <div>
            <form class="flex flex-col" action="/product/edit/{{ product.id }}" method="POST">
                <p>Title</p>
                <label>
                    <input minlength="3" class="border" type="text" value="{{ product.title }}" name="title">
                </label>
                <p>Description</p>
                <label>
                    <input minlength="3" class="border" type="text" value="{{ product.description }}" name="description">
                </label>
                <p>Price Eur</p>
                <label>
                    <input min="0.01" step='0.01' class="border" type="number" value="{{ product.priceEur }}" name="priceEur">
                </label>
                <div class="flex justify-center pt-5">
                    <input class="w-[200px] bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                </div>
            </form>
        </div>
        {% elseif not(app.user) %}
        <div>
            No access
        </div>
        {% elseif not(product) %}
        <div>
            Bad request
        </div>
        {% endif %}
    </div>

</div>

{% endblock body %}